<div>
	Explanation of how this Countries & Capitals app works.  So let's take a look at this awesome app which is completed but not quite but actually still yes, go figured.  What this app is about is a mystery to many but crystal clear to most people.  These many people seem to have a difficult time grasping apps anyway.  Those other most people are probably the ones who uses social networks everyday without realizing how much money they're pouring into those networks hands by providing valuable customers information through every click and scroll.  
	<div class="action-buttons">
		<a href="countries">
			<!-- go to /countries -->
			Browse Countries
		</a>
	</div>
</div>